<table cellpadding="0" cellspacing="0" border="0" style="font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#222;">
  <tr>
    <td style="vertical-align:top;padding-right:14px;border-right:1px solid #dddddd;">
      <img src="https://via.placeholder.com/96x96.png?text=LOGO" width="96" height="96" alt="{{companyName}} logo" style="display:block;border:0;"/>
    </td>
    <td style="vertical-align:top;padding-left:14px;">
      <div style="font-size:15px;font-weight:bold;color:#111;">{{displayName}}</div>
      <div style="color:#555;padding:2px 0 6px;">{{jobTitle}}{{#if department}}, {{department}}{{/if}}</div>
      <div><strong>{{companyName}}</strong></div>
      <div><a href="mailto:{{mail}}" style="color:#0a66c2;text-decoration:none;">{{mail}}</a></div>
      {{#if mobilePhone}}<div>{{mobilePhone}}</div>{{/if}}
    </td>
  </tr>
</table>